# API Config
API_KEY=nut-secret-key-2024
PORT=8000

# OCR Service
OCR_SERVICE_URL=http://ocr-service:8001

# Database
DATABASE_URL=postgresql://nutuser:nutpass@db:5432/nutdb

# MinIO (Object Storage)
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=nut-traceability

# Blockchain (Hyperledger Besu Permisionada)
BLOCKCHAIN_ENABLED=true
BLOCKCHAIN_RPC_URL=http://localhost:8545
BLOCKCHAIN_DEPLOYER_PRIVATE_KEY=0x3f7bc4bcfaee70773760fb1a37581c6a8bcd03c3e80ccf212cc501a349113f8f
BLOCKCHAIN_CONTRACT_ADDRESS=
BLOCKCHAIN_CHAIN_ID=1337
